<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Update GIDClientID -->
    <key>GIDClientID</key>
    <string>586752234501-2gjvgq6hh6jishobkoa623hhfdlf7ld2.apps.googleusercontent.com</string>

    <!-- Add URL Schemes section -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.586752234501-2gjvgq6hh6jishobkoa623hhfdlf7ld2</string>
            </array>
            <key>CFBundleURLName</key>
            <string>com.googleusercontent.apps.586752234501-2gjvgq6hh6jishobkoa623hhfdlf7ld2</string>
        </dict>
    </array>
</dict>
</plist>
