<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Remove old CLIENT_ID and REVERSED_CLIENT_ID -->
    <!-- Use only GIDClientID and CFBundleURLTypes from Firebase -->
    <key>GIDClientID</key>
    <string>244305898637-s4ksac2cj17fiai2cdou9lo17pcrq4fp.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.244305898637-s4ksac2cj17fiai2cdou9lo17pcrq4fp</string>
            </array>
        </dict>
    </array>
    <!-- Rest of your Info.plist settings remain the same -->
</dict>
</plist>
